.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.2);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 80px;
}

.header__logo {}

.header__menu {}

.menu {}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  column-gap: 24px;
}

.menu__item {}

.menu__link {
  font-weight: 700;
  color: #fff;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 1.5;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.125rem;
  transition: all 0.3s;
  background-color: #d4a373;
}

.menu__link.active::after,
.menu__link:hover::after {
  width: 100%;
  left: 0;
}



.active {}